body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: white;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
  padding: 50px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

header .header-btn {
  display: flex;
  gap: 10px;
}

header .header-btn button,
header .header-btn .signup-btn {
  padding: 10px 20px;
  background-color: #2c2ce5;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

header .header-btn .contact-btn {
  background-color: white;
  color: #2c2ce5;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Logo {
  font-family: "Satisfy", "Allura", cursive;
  font-size: 35px;
}

main {
  padding: 50px;
}

section {
  margin-bottom: 30px;
  padding: 40px 20px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
img {
  width: 20%;
  height: auto;
  border-radius: 12px;
  margin-right: 20px;
}
.section_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, rgb(31 34 33), rgb(35 77 135));
}

section div p {
  margin-left: 20px;
}

.section_2 {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, rgb(50 32 87), rgb(50 90 145));
}

section div {
  margin: auto;
}

.section_3 {
  background: linear-gradient(to right, rgb(13 15 14), rgb(46 105 102));
  border-radius: 12px;
}

section p {
  padding-left: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #222;
  color: white;
}
